#root{
  height: 100vh ;
}

.root{
  min-height: 100vh ;
}

.view{
  min-height: 100vh;
  background-color: #F0EADE;
}

.login-card{
  background-color: rgba(255,255, 255, 0.5);
  border-radius: 15px;
  padding: 10px 60px;
  text-align: center;

}
.user-icon{
  background-color: #BFAB99;
  border-radius: 100%;
  padding: 20px;
}

.ant-form-item{
  margin: 0;
}
.ant-btn-primary {
background-color: #af7745de!important;
border-color:  #D9AB73 !important;
border-radius: 10px !important;
}

.ant-btn-link {
  color: #707070 !important;
}

body{
  font-family: 'Poppins', sans-serif !important;
  background-color:  #F0EADE!important ;
}

.menu{
  padding: 10px;
  background-color: white !important;

}
.menu_title{
  font-size: 17px !important;
  margin:0px 30px !important;
}
.user-icon-menu{
  background-color: #BFAB99;
  border-radius: 100%;
  padding: 10px;
}

.paleta-container{
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 3% auto;
  border-radius: 20px;
}

.paleta-top{
  background-color: #A9A9A9;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  
}

.boton-paleta{
  border-color: #BFAB99 !important;
  border-width: 2px!important;
  color:#BFAB99 !important;
}
.boton-paleta:hover{
  background-color: #BFAB99 !important;
  color:white  !important;
}


.boton-guardar{
  background-color: #BFAB99 !important;
  color:white !important;
}

.inner-container{
  padding: 2% 10%;
}

.colorBlock{
  height: 200px;
  display: inline-block;
  width: 20%;
  transition: all .3s ease-in-out;

}

.colorBlock:hover{
  box-shadow: 0 3px 5px 0 rgb(46 61 73 / 30%);
    transform: scale(1.02);
    z-index: 1;
    cursor: pointer;

}

.colorHex{
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  margin-left:25%
}

.paletaCard{
  height: 150px;
  border-radius: 10px;
  background-color: white;
  width: 220px;
  position: relative;
  padding: 10px 0px;
}

.paletaCard-top{
  position: absolute;
  top:0;
  background-color: #A9A9A9;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  vertical-align: middle !important;

}

.paletaCard-top p{
  text-align: center;
  margin: auto;
  display: inline-block;
  color: white;
}

.paletaPuntitos{
  position: absolute;
  right: 0;
  top: 25%;
  color:white !important;
}

.paletaCard-colores{
  width: 20%;
  height: 80%;
  background-color: #BFAB99;
  display: inline-block;
  border-radius: 10px 10px 0px 0px;
  transition: all .3s ease-in-out;
}

.paletaCard-colores:hover{
  box-shadow: 0 3px 5px 0 rgb(46 61 73 / 30%);
    transform: scale(1.02);
    z-index: 1;
    cursor: pointer;

}

.paletaCard-categoria{
  font-size: 10px;
  border: 1px solid #A9A9A9;
  border-radius: 10px;
  padding: 4px;
}

.paletaCard-opcion{
  margin:5px 0px;
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-size: 11px;
  text-decoration: none !important;
  color: inherit;
}

.paletaCard-opIcon{
  float: right;
  vertical-align: middle;

}

.paletaCard-eliminar{
  color:red;
}

